/* Edurne Marco Garcia */

/* Montserrat typography */

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Satisfy typography */

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }

/* General styles */


body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    margin: 0;
    color: #172655;
} 

/* Mobile styles */

/* INDEX */

/* Header */
.sr {
    position:absolute;
    height:1px;    
    width:1px;    
    overflow:hidden;    
    clip:rect(1px, 1px, 1px, 1px);
}
.sr:focus {
    height:auto;
    border: 1px solid white;
    border:10px solid #182454;
    width:15rem;
    text-align:center;
    bottom:15rem;  
    left:50%;
    transform: translateX(-50%);
    background-color:#D11067;
    color:white;
    padding:1rem 3rem;
    font-size:1.1rem;
    display:block;
    overflow:visible;
    clip:auto;
    z-index:10;
}

.telefono:before {
    content: url("../img/phone.svg");
    transform: scale(0.8);
    padding-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}
.email:before{
    content: url("../img/mail.svg");
    transform: scale(0.8);
    padding-right: 0.2rem;
    display: inline-block;
    vertical-align: middle;
}
.contacto {
    background-color: #D11067;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 0.5rem;
}
.datos-contacto{
    display: inline-flex;
    gap: 1rem;
}
.datos-contacto a{
    font-size: 14px;
}
#menustate, nav ul, nav .close {
    display: none;
}
:is(#menustate:checked, #menustate:target) ~ nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: black;
    height: 100vh;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: left;
    padding-top: 5rem;
    padding-inline: 2rem;
    z-index: 1;
}
:is(#menustate:checked, #menustate:target) ~ nav :is(.close){
    display: block;
    font-size: 30px;
}
:is(#menustate:checked, #menustate:target) ~ nav :is(ul){
    display: block;
}
:is(#menustate:checked, #menustate:target) ~ nav .open{
    display: none;
}
nav li a:hover{
    color:#FFF616;
}
nav ul{
    list-style-type: none;
    line-height: 2rem;
    margin-top: 0;
}
nav li{
    font-weight: 500;
}
a{
    color: white;
    text-decoration: none;
}
header{
    background-image: url("../img/blackboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100px;
    min-height: 50px;
    color: white;
}
.content{
    width:94%;
    max-width:1200px;
    margin:0 auto;
}
.logo-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes-sociales a{
    padding: 0.1rem;
}
nav{
    font-size: 1rem;
    color: white;
    text-align: right;
}
.header-elements{
    align-items: center;
    text-align: center;
}
h1{
    font-family: "Satisfy";
    margin-bottom: 2rem;
    font-size:45px;
}
h1 span{
    color:#FFF616
}
.recuadro-busqueda{
    background-color: #EDEDED;
    border-radius: 35px;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    color: #172655;
    align-items: center;
    padding: 0.5rem 0rem 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.header-top {
    max-width: 600px;
    margin: 0 auto;
}
.recuadro-busqueda button{
    background-color: #D11067;
    border-radius: 21px;
    padding: 0.5rem 1rem 0.5rem 0.3rem;
    color: white;
    border:none;
    box-shadow: none;
    position: relative;
    right:8px;
}
.recuadro-busqueda button:hover {
    background-color: #172655;
}

.recuadro-busqueda button:before{
    content: url("../img/search.svg");
    transform: scale(0.7);
    padding-right: 0.5rem;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;   
}
.elemento1, .elemento2, .elemento3 {
    flex: 1 200px;
    margin-bottom: 3rem;
}
.headline {
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

/* Courses */
h2{
    font-size: 1.5rem;
    color: #D11067;
}
.cursos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    align-items: center;
    margin-bottom: 3rem;
}
.cursos a{
    height: 100%;
}
.curso{
    border-radius: 10px;
    border:  #EDEDED solid 0.2px;
    overflow: hidden;
    height: 100%;
}
.curso:hover{
    border:#172655 solid 0.2px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    transform: scale(1.1);
}
.superior {
    background-size: cover;
    min-height: 150px;
    position: relative;
    background-repeat: no-repeat;
}
.superior span {
    background-color: #D11067;
    border-radius: 21px;
    color: white;
    padding: 0.3rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}
.superior span.best {
    background-color: #FFF616;
    border-radius: 21px;
    color: #D11067;
    padding: 0.3rem;
    position: absolute;
    margin-right: 0;
    top: 0.5rem;
    right: 0.5rem;
    left: auto;
}
.inferior{
    color: #172655;
    padding: 1rem;
}
.tituloCurso{
    margin-bottom: 0;
    font-size: 18px;
    color: #7A1628;
    font-weight: 700;
    margin: 0;
}
.datosCurso{
    display: flex;
    justify-content: space-around;
    padding-right: 0.5rem;
    align-items: center;
    font-size: 12px;
}
.center{
    text-align: center;
    display: flex;
    justify-content: center;

} 
.center a, .left a, .right a, .apply a{
    color:  #D11067;
    background-color: transparent;
    border:  #D11067 solid 0.2px;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}
.center a:hover, .left a:hover, .right a:hover, .apply a:hover{
    background-color:  #D11067;
    color:  white;
} 

/* Learning path */

.section-texto {
    background-image: url("../img/learn-path.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.texto-content{
    margin-top: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white
} 
.texto-content h3{
    font-family: "Satisfy", cursive;
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 400;
    color: white;
}
.texto-content a{
    color:  white;
    background-color: transparent;
    border:  white solid 0.2px;
}
.texto-content a:hover {
    color:#FFF616;
    border:#FFF616 solid 0.2px;
    background-color: transparent;    
}

/* Learning */
.learning-content{
    display: flex;
    flex-direction: column;
}
.learning-content .izquierda .elemento{
    display: flex;
    flex-direction: row;
}
.elemento img{
    align-items: center;
}
.element1{
    background-color: #DEF5F0;
    border-radius: 50%;
    display: flex;
    padding: 1rem;
    margin-right: 1rem;
    width: 50px;
    height: 50px;
}
.element2{
    background-color: #E3EDFD;
    border-radius: 50%;
    display: flex;
    padding: 1rem;
    margin-right: 1rem;
    width: 50px;
    height: 50px;
}
.element3{
    background-color: #F7E9E7;
    border-radius: 50%;
    display: flex;
    padding: 1rem;
    margin-right: 1rem;
    width: 50px;
    height: 50px;
}
.learning-content{
    padding-top: 5rem;
}
.izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 4rem;
}
.izquierda h3{
    font-family: "Satisfy", cursive;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: #7A1628;
    font-weight: 400;
    line-height: 3rem;
    margin-left: 1rem;
}
.learning-content .derecha{
    align-self: center;
}
.derecha img {
    border-radius: 10px;
    max-width: 520px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}
.derecha {
    object-fit: contain;
    padding-bottom: 3rem;
}
p.titulo{
    font-size: 18px;
    color: #7A1628;
    font-weight: 500;
}
.left {
    margin-left: 6rem;
    margin-top: 4rem;
} 

/* Categories */

.section-category {
    background-color: #EDEDED;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
} 
.category-content h3{
    text-align: center;
    color: #D11067;
    font-size: 30px;
}
.category-content .categories{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
.category-content .categories .category{
    background-color:#172655;
    color: white;
    text-align: center;
    padding: 3rem;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-content .categories .category:hover {
    background-color:#D11067;
}
.right {
    margin-top: 2rem;
}

/* Become an instructor */
.section-instructor {
    background-color: #FEFBF4;
}
.instructor-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instructor-content img {
    border-radius: 10px;
    max-width: 520px;
    max-height: 375px;
    width: 100%;
    height: 100%;
}
.instructor-content .izquierda {
    object-fit: contain;
    padding-top: 3rem;
    padding-bottom: 0;
}
.instructor-content h3{
    font-size: 30px;
    color: #7A1628;
}
.learning-content .izquierda .elemento{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Footer */
.section-footer {
    background-color:#172655;
}
.content-footer{
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.content-footer .footer-area{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}
.content-footer a{
    color: white;
    text-decoration: none;
}
.content-footer a:hover{
    text-decoration: underline;
}
.content-footer form{
    background-color: #FFFFFF33;
    padding: .5rem;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}
.content-footer form input.email{
    background-color: transparent;
    border: none;
    color: white;
    margin: 0;
}
.content-footer form input.email:focus-visible{
    outline: none;
}
.content-footer form input.email::placeholder{
    color: white;
}
.content-footer form button{
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 0.2rem;
}
.content-footer form button:hover{
    background-color:#D11067;
}
.content-footer form button:hover img{
    filter:brightness(100);
}
.enlaces{
    margin-top: 2rem;
    display: inline-flex;
    margin-bottom: 2rem;
}
.enlaces a{
    padding-right: 1rem;
}
cite a {
    background-color: #FFFFFF33;
}
.copyright cite{
    font-style: normal;
    font-size: 12px;
}
.enlaces a{
    font-size: 13px;
}
.logo p{
    margin: 0;
    font-weight: 500;
}
.logo a{
    font-weight: 400;
}

/* INSTRUCTOR */
.contact h1, .instructor h1{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color:#D11067;
    margin-bottom: 0;
}
.contact h2, .instructor h2{
    font-size: 20px;
    color:#7A1628;
}
.instructor p{
    line-height: 1.5rem;
}
.instructor-left figure{
   align-self: center;
}
.instructor-left figure img{
    max-width: 520px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}
.instructor blockquote{
    border:#D11067 solid 1px;
    margin: 0;
}
.instructor blockquote li{
    list-style: decimal;
    color:#D11067;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 1rem;
}
.instructor blockquote li a, ol.steps p a{
    color:#D11067;
}
.instructor blockquote li a:hover, ol.steps p a:hover {
    color:  #7A1628;
    text-decoration: underline;
}
.article-small p, .article-small li, .article-small a{
    font-size: 13px;
}
.degree, .skills {
    border:#E3EDFD solid 1px;
    padding: 1rem;
    margin-bottom: 1rem;
}
p.icon:before{
    content: url("../img/icon-academic.svg");
    transform: scale(0.8);
    padding-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}
.skills ul li{
    list-style: circle;
    counter-reset: none;
    counter-increment: none;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 0.5rem;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.step-text cite{
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}
ol.steps {
    list-style: none;
    counter-reset: steps-counter; 
    padding-left: 0;
    margin-top: 2rem;
}
ol.steps li.step {
    counter-increment: steps-counter;
    padding-bottom: 2rem;
    font-size: 12px;
    font-weight: 700;
}
ol.steps p{
    font-size: 12px;
    font-weight: 400;
}
.step-text {
    padding-left: 3.5rem;
}
ol.steps li.step:before {
    content:counter(steps-counter);
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border:#172655 solid 1px;
    color: #172655;
    padding: 0.5rem 0.9rem;
    margin-right: 10px;
    list-style-position: outside;
}
ul.skills li:before {
    content:none;
}
.apply {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 15px;
}
.instructor-right ol, .instructor-right ul {
    padding-left: 0;
    padding-top: 1rem;
}
.instructor-right ol{
    padding: 1rem 0.5rem 1rem 2rem;
    margin: 0;
}
.instructor-right ol li{
    list-style:decimal;
    font-weight: 700;
}
.instructor-right ul li {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
}
.calendar:before{
    content: url("../img/calendar.svg");
    transform: scale(0.8);
    padding-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
.money:before{
    content: url("../img/money.svg");
    transform: scale(0.8);
    padding-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}
.wallet:before{
    content: url("../img/wallet.svg");
    transform: scale(0.8);
    padding-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}
.instructor-right figure{
    border:#172655 solid 1px;
}
.instructor-right figure{
    margin:0;
}
.instructor-right figcaption{
    background-color: #E3EDFD;
    border-bottom: #172655 solid 1px;
    padding: 0.5rem;
    font-weight: 700;
} 
.instructor-right{
    padding-bottom: 4rem;
    width: fit-content;
    margin: auto;
}
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1em;
	position: relative;
	vertical-align: top;
	width: 3em;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}
.chevron.bottom{
   align-items: center;
   margin-left: 35%;
   margin-top: 0;
}

/* CONTACT */

h3, legend{
    font-size: 18px;
    font-weight: 700;
    color: #7A1628;
}
.description h3{
    color:#172655;
}
.location a{
    color:#D11067;
}

.ambassadors{
    text-align: center;
}
.person{
    align-items: center;
    position: relative;
} 
.person img{
    border-radius: 50%;
}
.face{
    border: #172655 solid 4px;
}
.flag{
    position: absolute;
    bottom: 0;
    left: calc(50% + 50px);
    width: 70px;
    height: 70px;
    border: white solid 4px;
    object-fit: cover;
}
.student{
    background-color: #EDEDED;
    padding: 1rem;
    height: 100%;
}
.description a[href^="mailto"] {
    color:#D11067;
    font-size: 15px;
    text-decoration: none;
    border-bottom: none;
}
.contact a[href^="mailto"]:hover {
    text-decoration: underline;
    font-size: 15px;
    border-bottom: none;
    color:#D11067;
    font-weight: 400;
}
.description a{
    color:#7A1628;
    font-size: 14px;
    border-bottom: #7A1628 solid 0.7px;
} 
.description a:hover {
    font-weight: 700;
    border-bottom: #7A1628 solid 3px;
}
.contact-form{
    background-color: #FEFBF4;
    border-radius: 21px;
    border: #EDEDED solid 1px;
    padding: 2rem;
    margin-top: 2rem;
}
.contact-right{
    margin-bottom: 4rem;
}
form {
    margin-left: 0;
}
form ul,li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
option{
    color:#172655;
}
fieldset, legend {
    border:none;
    padding: 0;
    margin: 0;
}
form abbr {
    color:#172655;
    font-size: 1rem;
    text-decoration: none;
}
li.two-row {
    display: flex;
    width: 100%;
    flex-direction: column;
}
select#course-area{
    margin-top: 1rem;
    width: 100%;
}
.outFieldset {
    margin-top: 1rem;
    max-width: fit-content;
} 
.outFieldset a{
    color:#D11067;
}
.outFieldset a:hover {
    text-decoration: underline;
}
.outFieldset button {
    width: 100%;
    margin-top: 1rem;
    color: white;
    background-color: #172655;
    border-radius: 10px;
    padding: 0.8rem;
    border: none;
    box-shadow: none;
}
.outFieldset button:hover {
    background-color: #D11067;
}

/* Tablet styles */
@media (min-width: 544px) {
    h1{
        font-family: "Satisfy";
        margin-bottom: 2rem;
        font-size: 55px;
    }
    nav li{
        font-size: 2rem;
        line-height: 3rem;
    }
    .contacto .content{
        display: inline-flex;
        justify-content: space-between;
    }
    .datos-contacto{
        text-align: left;
    }
    .redes-sociales{
        text-align: right;
        margin-top: 0.5rem;
    }
    .contact h1, .instructor h1{
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        color:#D11067;
    }
    .contact h2, .instructor h2{
        font-size: 24px;
        color:#7A1628;
    }
    .article-small p, .article-small li, .article-small a{
        font-size: 15px;
    }
    .instructor blockquote li{
        font-size: 18px;
    }
    ol.steps li.step {
        font-size: 18px;
    }
    ol.steps li.step:before {
        font-size: 18px;
    }
    ol.steps p{
        font-size: 15px;
        font-weight: 400;
    }
    /* CURSOS */
    .cursos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    /* CATEGORY */
    .category-content .categories{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    /* OUR OFFICES */
    .offices{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        align-items: center;
        margin-bottom: 3rem; 
    }
    .ambassadors{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        align-items: center;
        margin-bottom: 4rem;
        margin-top: 2rem;
    }
    /* CONTACT FORM */
    .contact-form{
        width: 70%;
        margin: auto;
    }

    /* INSTRUCTOR CAREER PATH */
    .instructor-right{
        width: fit-content;
        margin: auto;
    }
}

/* Desktop styles */
@media (min-width: 992px) {
    /* Font sizes */
    .texto-content h3{
        font-size: 60px;
    }
    .izquierda h3{
        font-size: 60px;
        line-height: 4rem;
    }
    /* Show the menu */
    nav ul {
        display: flex;
    }
    nav .open, nav .close{
        display: none;
    }
    nav ul li{
        margin-inline: 1rem;
        font-weight: 700;
        font-size: 0.9rem;
    }
    nav li a:hover{
        color:white;
    }
    .info{
        flex-direction: row;
        justify-content: space-around;
    }
    li.menu:hover{
        border-bottom: solid white 3px;
        margin-bottom: -3px;
    } 
    .current a{
        color:#FFF616; 
    }
    li.current, li.current:hover{
        border-bottom: solid #FFF616 3px;
        margin-bottom: -3px;
    }
    .sign a{
        background-color: white;
        color: #D11067;
        border-radius: 21px;
        padding: 0.5rem;
    }
    .sign a:hover{
        color: white;
        background-color: #D11067;
    } 
     .category-content .categories{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    /* CURSES */
    .cursos {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    /* LEARNING */
    .learning-content{
        flex-direction: row;
    }
    .learning-content .izquierda, .learning-content .derecha{
        width:50%;
    }
    .derecha {
        object-fit: contain;
        padding: 3rem;
    }
    /* CATEGORY */
    .category-content .categories{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .category-content .categories .category.big { grid-area: 1 / 3 / 3 / 4; }
    /* INSTRUCTOR */
    .instructor-content{
        flex-direction: row;
    }
    .instructor-content .izquierda, .instructor-content .derecha{
        width: 50%;
    }
    .instructor-content .derecha{
        padding-top: 0;
    }
    .instructor-content .izquierda {
        padding-bottom: 3rem;
    }
    /* FOOTER */
    .content-footer .footer-area {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    /* CONTACT FORM */
        .contact-elements{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        } 
        .contact-right{
            min-width: 350px;
            margin:0;
            padding-bottom: 4rem;
        }
        .contact-form {
            position: sticky;
            top:0;
        }
    /* INSTRUCTOR CAREER PATH */
        .instructor-elements {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
        .instructor-right{
            min-width: 300px;
            margin:0;
            padding-top: 3rem;
        }
        .instructor-right figure{
            position: sticky;
            top:0;
        }
        .skills ul li{
            list-style: circle;
            counter-reset: none;
            counter-increment: none;
            float: left;
            width: 33.3%;
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 0.5rem;
        }
        .skills ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
}

